.mission-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

h2 {
    color: white;
    border-bottom: 1px solid rgb(99, 70, 207);
    height: 50px;
}

p {
    width: 70%;
    display: flex;
    color: white;
    text-align: center;
    
}