.App {
  display: flex;
  flex-direction: column;
  background-color: rgb(31, 29, 29);
  width: 100%;
}
 img {
   width: 100%;
   height: auto;
 }

 .mission-vision {
   display: flex;
   flex-direction: row;
   width: 75%;
   border-top: 1px solid red;
   margin-top: 10px;
 }

 .statements {
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: center;
   align-items: center;
 }